* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  list-style: none;
  text-decoration: none;
  /* font-family: "Josefin Sans", sans-serif; */
}

body {
  /* background-image: url(../images/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
}

.wrapper .multi_color_border {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #37a000 0%, #37a000 25%, #494949 25%, #494949 50%, #37a000 50%, #37a000 75%, #494949 75%, #494949 100%);
}

.wrapper .top_nav {
  margin-top: 3px;
  /* width: 100%; */
  height: 65px;
  background: #fff;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .top_nav .left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #494949;
  font-family: "Mountains of Christmas", cursive;
  margin-right: 25px;
}

.logo span {
  color: #37a000;
  font-family: "Mountains of Christmas", cursive;
}

.search-box {
  width: 1200px;
  margin: 0 auto;
  text-align: right;
  position: relative;
  top: 0;
  z-index: 101;

  transition: 300ms;
}

.search-box.active {
  top: 72px;
}

.search-box input {
  background: #fffffa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 8px 8px;

  font-size: 24px;
  line-height: 42px;
  border: 0;
  padding: 12px 48px;
}

.search-box input::placeholder {
  color: #b3b3b3;
}


.wrapper .top_nav .right ul {
  display: flex;
  /* justify-content: space-around; */
}

.wrapper .top_nav .right ul li {
  margin: 0 2px;
}

.wrapper .top_nav .right ul li a {
  display: block;
  padding: 8px 10px;
  color: #666666;
}

/* bottom nav */
a {
  text-decoration: none;
  color: #eee;
}

header {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;
  background-image: url(../images/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.menu-toggle {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-transform: uppercase; */
  font-size: 1.6rem;
}

.brand {
  /* font-size: 2rem;
	font-weight: 300; */
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
  font-family: "Mountains of Christmas", cursive;
}

.brand span {
  color: crimson;
  font-family: "Mountains of Christmas", cursive;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

.active-nav-link {
  border-bottom: 2px solid #37a000;
}

.active-nav-link a {
  color: #37a000 !important;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.overlay {
  background-color: rgba(0, 0, 0, .95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {}

  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }

  nav {
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-top: 5rem;
  }

  nav ul li a {
    margin: 0;
    font-size: 2.5rem;
    text-decoration: none;
    list-style: none;
  }

  .tpy {
    font-size: 3rem;
  }

  .brand {
    font-size: 5rem;
  }

  .overlay.menu-open,
  nav.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
}

/* bottom_nav */
.wrapper .bottom_nav ul li a {
  color: #494949;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.wrapper .banner img {
  width: 100%;
  height: 400px;
}

/* home */
/* carousel what we have been doing */
#slider {
  overflow: hidden;
  /* height: 500px; */
}

.slider-container {
  left: 0;
  top: 0;
  width: 100%;
  height: 87vh;
  animation: animate 25s ease-in-out infinite;
  background-size: cover;
  filter: grayscale(100%);
}

.slider-container :hover{
  filter: grayscale(0);
}

.outer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.details {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.abt-btn {
  position: relative;
  /* background-color: red; */
  color: black;
  top: 70%;
  left: 22%;
}

.details h2 {
  text-transform: capitalize;
  color: #FFF8DC;
  font-size: 3.9em;
}

@keyframes animate {
  0%, 100% {
    background-image: url(../images/desk.jpeg);
  }

  25% {
    background-image: url(../images/desk2.jpeg);
  }

  50% {
    background-image: url(../images/desk.jpeg);
  }

  75% {
    background-image: url(../images/desk3.jpeg);
  }
}
.flex-container{
  height: 90vh;
}
/* Create two equal columns that floats next to each other */
.column {
  float: right;
  width: 40%;
  height:90vh;
  background:url('../images/desk.jpeg') #fff;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
.column2 {
  float: left;
  width: 60%;
  height:90vh;
  background:url('../img/developer.jpg') #09ff78;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.column2 .split-text{
  padding-top: 20%;
  position: relative;
  background:rgba(0,0,0,0.6);
 color:white;
 padding-left: 20px;
 width: 98%;
 text-align: center;
 height: 71vh;
 line-height: 3.5em;

}
.split-text h1{
font-size: 4em;
}

.split-text h3{
font-size: 3em;
}

.split-text p{
font-size: 2em;
}


/* carousel */
/* ourTeam */
.team-section {
  height: 100vh;
  display: flex;
}

.person {
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: .6s;
}

.person:hover {
  flex: 4;
}

.person-pic {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(80%);
  transition: .3s;
}

.person:hover .person-pic {
  filter: grayscale(0);
}

.person-info {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: .2s;
}

.person:hover .person-info {
  opacity: 1;
  bottom: 60px;
  transition-delay: .6s;
}

.person-info h2 {
  font-size: 20px;
  color: #fff;
}

.person-info p {
  color: #b8e994;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 20px;
}

.socialmedia a {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #333;
  background-color: #b8e994;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 6px;
  font-size: 18px;
  transition: .3s linear;
}

.socialmedia i {
  padding: 12px;
}

.socialmedia a:hover,
form button:hover {
  color: #b8e994;
  background-color: transparent;
  transform: scale(1.5);
}

/* START OF FOOTER */
footer {
  bottom: 0;
  width: 100%;
  background-color: azure;
}

.footer {
  width: 100%;
  background: #00121b;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.footer-items h1 {
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

.footer-items p {
  color: grey;
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
}

.footer-items h2 {
  margin: 10px 0;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.border {
  height: 2px;
  width: 40px;
  background: crimson;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

ul a:hover {
  color: crimson;
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.footer-bottom {
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

footer .up {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #eee;
  /* top: -2.5rem; */
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: black;
  font-size: 2rem;
  margin: auto;
}

/* animations */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 crimson;
  }

  70% {
    box-shadow: 0 0 0 1.4rem rgba(253, 87, 191, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0;
  }
}

/* END OF FOOTER */
/* Contact us */
/* container utility */
#fancy-form .container {
  /* background-image: url(../images/desk.jpeg);
  background-size: cover;
  background-repeat: no-repeat; */
  background: rgba(0, 0, 0, 0.5);
  align-content: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* main div */
.form-sections {
  margin-top: 5rem;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

/* Form-left styling */
.Form-left h1 {
  padding: 0;
  margin: 0;
}

.Form-left h4 {
  padding: 0;
  margin: 0;
  color: rgb(243, 235, 235);
}

.line {
  border-bottom: 2px solid crimson;
  width: 8%;
  margin-left: 0;
}

.Form-left span {
  color: rgb(187, 182, 182);
  font-weight: bold;
}

.Form-left hr {
  width: 25rem;
  margin-left: 0;
  border: 1px solid rgb(53, 52, 52);
}

/* Form Right Styling */
.Form-right h1 {
  padding: 0;
  margin: 0;
}

form {
  padding-top: 2rem;
}

form h5 {
  padding: 0;
  margin: 0;
  color: rgb(228, 218, 218);
}

form input {
  padding: 0.6rem;
  width: 27rem;
  border: none;
  background-color: rgba(136, 133, 133, 0.3);
  color: white;
  border: none;
  outline: none;
}

form textarea {
  padding: 0.6rem;
  width: 27rem;
  border: none;
  background-color: rgba(136, 133, 133, 0.3);
  color: white;
  border: none;
  outline: none;
}

button {
  display: inline-block;
  color: #333;
  background-color: #b8e994;
  line-height: 30px;
  border-radius: 50px;
  margin: 0 6px;
  font-size: 18px;
  transition: .3s linear;
  width: 9rem;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.google-maps {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* media queries */
@media (max-width: 968px) {
  #fancy-form .form-sections {
    display: block;
    width: 100%;
    text-align: left;
  }

  .form-sections .Form-right {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* socail media icons */
  .fa {
    padding: 8px;
    font-size: 18px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(187, 182, 182);
  }
}

/* Contact us */
/* aboutus */
/* Events TpY */
/* END OF EVENTS */
/* ABOUT TPY */
.separator-type, .title-type, .intro-type, .content-type .intro-type p {
  position: relative;
}

.intro-type .container {
  padding: 107px 0 102px 0 !important;
}

#product-header-section, .intro-type .container {
  padding: 68px 15px 72px !important;
}

.parallax {
  background-attachment: inherit !important;
}

.parallax {
  background-attachment: inherit !important;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -10;
}

.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 100 !important;
  text-transform: capitalize;
  font-size: 65px;
  margin-bottom: 20px;
}

.company-sections h2, .careers-sections h2, .perks-section h2 {
  font-weight: 800;
  font-size: 50px;
}

.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
  font-family: 'proxima-nova', sans-serif;
}

.company-sections h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 14px 0;
  font-family: 'proxima-nova', sans-serif;
  text-transform: capitalize;
}

.red-border {
  width: 50%;
  border-bottom: 1px solid #d2282e;
  margin: 0 auto;
  height: 16px;
}

.company-sections p {
  margin-top: 20px;
}

.ct-u-size22 {
  font-size: 18px;
}

.ct-u-fontWeight300 {
  font-weight: 300;
}

.marginTop40 {
  margin-top: 40px !important;
}

.ct-u-paddingBoth100 {
  padding: 10px 15px;
}

.company-sections, .careers-sections, .left-headquarter-section-img, .right-headquarter-section-img {
  text-align: center;
}

.ct-u-paddingBoth100 {
  padding: 10px 15px;
}

.company-sections h2, .careers-sections h2, .perks-section h2 {
  font-weight: 800;
  font-size: 50px;
}

.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
  font-family: 'proxima-nova', sans-serif;
}

.slick-slider {
  margin-bottom: 0;
}

.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slider .item {
  overflow: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.logos {
  margin-right: -5px;
  margin-left: -5px;
}

ul.logos li {
  cursor: pointer;
}

.logos>li {
  float: left;
  width: 16.66666%;
  padding: 5px;
}

.logos .logos-inner {
  position: relative;
}

.slick-slide img {
  display: inline-block;
}

.logo-image {
  position: relative;
  width: 100%;
}

ul.logos li {
  cursor: pointer;
}

.logos>li {
  float: left;
  width: 16.66666%;
  padding: 5px;
}

.logos .logos-inner {
  position: relative;
}

.slick-slide img {
  display: inline-block;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

/* .fa {
  font-size: 42px;
} */
.btn-solodev-red-reversed {
  background-color: #fff;
  color: #d2282e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 12px 35px;
}

.btn, .btn-blk {
  font-size: 18px !Important;
}

a:hover, a:focus {
  text-decoration: none;
}

.ct-u-size19 {
  margin-top: 40px;
}

a:hover {
  color: #000;
}

section.clients-home .clients-logos .client-logos-repeater {
  height: 260px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

section.clients-home .clients-logos .client-logos-repeater img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.logo-title {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFF;
  background-color: #0079c2;
}

.ct-u-paddingBottom100 {
  margin-top: 40px;
}

.culture-section {
  background-size: cover;
  color: #fff;
}

/*services*/
.services-section {
  width: 100%;
  background-color: azure;
}

.inner-width {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.services-section h2 strong,
.gallery-section h2 strong {
  color: #6ab04c;
}

.service {
  text-align: center;
  margin: 20px 0;
}

.service-icon {
  width: 60px;
  height: 60px;
  margin: auto;
  background: #ecf6ff;
  border-radius: 50%;
  color: #6ab04c;
  line-height: 60px;
  font-size: 25px;
}

.service-name {
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0;
}

.service-desc {
  max-width: 400px;
  margin: auto;
  color: #333;
  font-size: 17px;
}

.owl-dots {
  text-align: center;
  margin-top: 40px;
}

.owl-dot {
  width: 14px;
  height: 14px;
  background: #808080 !important;
  margin: 0 6px;
  border-radius: 14px;
  outline: none;
  transition: .3s linear;
}

.owl-dot.active {
  width: 36px;
  background: #6ab04c !important;
}

.owl-dot:hover {
  width: 36px;
  background: #6ab04c !important;
}

/* END OF ABOUT */
/* BLOG START */
.containerblog a {
  transition: all .5s;
  text-decoration: none;
  /* color: #fff; */
}

.singleBlog img {
  width: 100%;
  transition: all .5s;
}

.containerblog section {
  padding: 50px 0;
  /* margin-top: 50px; */
  background: rgba(116, 185, 255, 0.09);
  text-align: center;
}

.containerblog {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 30px 15px 0px 15px;
}

.header {
  width: 70%;
  margin: 0 auto;
}

.header h1 {
  margin: 0;
  font-size: 50px;
  color: rgba(52, 73, 94, 1.0);
  font-weight: 500;
}

.singleBlog {
  position: relative;
  overflow: hidden;
  max-height: 580px;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 10px #ccc;
  transition: all .5s;
}

.singleBlog:hover {
  box-shadow: 0 2px 13px #ccc;
  transition: all .5s;
}

.singleBlog:hover img {
  transform: scale(1.1);
  transition: all .4s;
}

.blogContent {
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 100%;
  color: #fff;
  padding: 10px 5px;
  background: linear-gradient(45deg, rgba(21, 82, 153, 1) 0%, rgba(144, 192, 229, .4) 100%);
  transition: all .5s;
}

.singleBlog:hover .blogContent {
  bottom: 0;
  transition: all .5s;
}

.blogContent h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.blogContent h3 span {
  display: block;
  font-size: 60%;
  margin-top: 5px;
  font-weight: 600;
  color: rgba(52, 73, 94, 1.0)
}

.blogContent a {
  font-size: 14px;
  font-weight: 500;
}

.blogContent .btn {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400;
}

.blogContent .btn:hover {
  background: rgba(52, 152, 219, 1.0);
  transition: all .5s;
  text-decoration: none;
}

.blogContent a:hover {
  text-decoration: underline;
}

@media (max-width:992px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width:767px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .header {
    width: 95%;
  }

  .blogContent {
    bottom: 0;
  }
}

@media (max-width:500px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* END OF BLOG */
.body {
  padding: 20px;
  max-width: 440px;
  background-color: azure;
  color: black;
}

/* ABOUT gallery */
.gallery-section {
  width: 100%;
  padding: 60px 0;
  background: #f1f1f1;
}

.gallery-intro {
  padding-bottom: 20px;
}

/* .inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
} */
.gallery-section .gallery {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image {
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img {
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image {
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image {
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image {
    flex: 100%;
  }
}

.about-heading {
  padding-top: 50PX;
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 4rem;
}

.about-heading h1 {
  color: #6ab04c;
  font-size: 10rem;
  opacity: .3;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

/* ABOUT GALLERY */
